<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Main Page</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
<h1> Welcome to my Page!!</h1>>
<h3>Who am I?</h3>
<p><Strong>Name: </Strong>Kenta</p>
<p><Strong>Surname: </Strong>Waibel</p>
<p><Strong>Nationality: </Strong>Swiss / Japanese</p>
<p><Strong>Birthday: </Strong>23/05/2006</p>
<p><Strong>Job: </Strong>Developer Apprentice</p>
<p><Strong>Workplace: </Strong>Swisscom</p>

<footer>
    <h4>How to contact me:</h4>
    <p><strong>Tel.</strong> 079 366 79 11</p>
    <p><strong>email:</strong> <a href="mailto:kenta.waibel@gmail.com">kenta.waibel@gmail.com</a></p>
</footer>
</body>
</html>

