
footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #363746 ;
    text-align: center;
    color: whitesmoke;
}
body {
    color: whitesmoke;
    background-color: #040720;
}